@font-face {
  font-family: 'AmsiProCondensedUltra';
  src: url('/src/assets/fonts/AmsiProCondensedUltra/AmsiProCondensed-Ultra.ttf') format('truetype');
}

@font-face {
  font-family: "FSPDEMO";
  src:url('/src/assets/fonts/fsd-demo/fspdemo.ttf') format('truetype')
}

@font-face {
  font-family: 'NuberNextCondensed';
  src: url('/src/assets/fonts/NuberNextCondensed/NuberNextBlackCondensed.ttf') format('truetype');
}

@font-face {
  font-family: 'HumerGeometricSansBold';
  src: url('/src/assets/fonts/HurmeGeometricSansBold/HurmeGeometricSans3-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Franklin_Gothic';
  src: url('/src/assets/fonts/franklin-gothy/Franklin_Gothic_Heavy_Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaExtraBold';
  src: url('/src/assets/fonts/futuruaExtraBold/Futura_Extra_Bold.ttf') format('truetype');
}


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
